:root {
  --color-dark-blue: hsl(240, 38%, 20%);
  --dark-blue-hue: 240;
  --dark-blue-sat: 38%;
  --dark-blue-light: 20%;

  --color-grayish-blue: hsl(240, 18%, 77%);
  --grayish-blue-hue: 240;
  --grayish-blue-sat: 18%;
  --grayish-blue-light: 77%;

  font-size: var(--fontSize);

  --fontSize: 32px;

  --fontSize-medium: var(--fontSize);

  --fontSize-x9-small: calc(var(--fontSize) * 0.9);
  --fontSize-x8-small: calc(var(--fontSize) * 0.8);
  --fontSize-x7-small: calc(var(--fontSize) * 0.7);
  --fontSize-x7-5-small: calc(var(--fontSize) * 0.75);
  --fontSize-x6-small: calc(var(--fontSize) * 0.6);
  --fontSize-x5-small: calc(var(--fontSize) * 0.5);

  --fontSize-x1-large: calc(var(--fontSize) * 1.1);
  --fontSize-x2-large: calc(var(--fontSize) * 1.2);
  --fontSize-x2-5-large: calc(var(--fontSize) * 1.25);
  --fontSize-x3-large: calc(var(--fontSize) * 1.3);
  --fontSize-x4-large: calc(var(--fontSize) * 1.4);
  --fontSize-x5-large: calc(var(--fontSize) * 1.5);
  --fontSize-x6-large: calc(var(--fontSize) * 1.6);
  --fontSize-x7-large: calc(var(--fontSize) * 1.7);
  --fontSize-x7-5-large: calc(var(--fontSize) * 1.75);
  --fontSize-x8-large: calc(var(--fontSize) * 1.8);
  --fontSize-x9-large: calc(var(--fontSize) * 1.9);
  --fontSize-x20-large: calc(var(--fontSize) * 2);

  --fontWeight-light: 300;
  --fontWeight-regular: 500;
  --fontWeight-bold: 700;
}

* {
  font-size: var(--fontSize-medium);
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: var(--fontWeight-regular);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background-image: url(./images/pattern-curve.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.slide {
  color: var(--color-dark-blue);
  display: flex;
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* Slider 1 /////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: -3rem;
  z-index: 2;
  background-image: url(./images/pattern-quotes.svg);
  background-repeat: no-repeat;
  background-position: top 20% left 20%;
}

.quote {
  max-width: 32ch;
  font-weight: var(--fontWeight-regular);
}

.name-card {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.name {
  font-size: var(--fontSize-x5-small);
  font-weight: var(--fontWeight-bold);
}

.title {
  font-size: var(--fontSize-x5-small);
  font-weight: var(--fontWeight-light);
  color: var(--color-grayish-blue);
}

.img {
  height: 100%;
  position: relative;
  -webkit-box-shadow: 0px 25px 13px -7px rgba(0, 0, 0, 0.25),
    0px 0px 13px -7px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 25px 13px -7px rgba(0, 0, 0, 0.25),
    0px 0px 13px -7px rgba(0, 0, 0, 0.25);
  position: relative;
}

.img::after {
  content: "";
  position: absolute;
  top: -20%;
  left: -20%;
  right: -20%;
  bottom: -20%;
  background-image: url(./images/pattern-bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  z-index: -1;
}

.img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 1;
}

.arrows-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 20%;
  transform: translate(-50%, 50%);
  background-color: white;
  min-width: 20%;
  border-radius: 50px;
  overflow: hidden;
}

.arrow {
  height: fit-content;
  /* height: 0.5rem; */
  /* background-color: blue; */
  padding: 0.25rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 250ms ease-in-out;
  cursor: pointer;
}

.arrow:hover {
  background-color: rgba(25, 25, 25, 0.1);
}

.arrow img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 250ms ease-in-out;
}

.arrow img:hover {
  transform: scale(1.1);
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* Slider 2 /////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */

.slide-2 {
  display: none;
}

.slide-2 .quote {
  max-width: 32ch;
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* Footer ///////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */

footer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  font-size: 12px;
  color: hsl(228, 45%, 44%);
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* Media Queries ////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */

@media (max-width: 1200px) {
  .slide {
    flex-direction: column-reverse;
    margin-top: 5rem;
  }
  .arrows-container {
    left: 50%;
  }
  .arrow {
    padding: 0.5rem 0.5rem;
  }

  .img {
    margin-bottom: 3rem;
    width: 90vw;
  }
  .card {
    text-align: center;
    align-items: center;
    width: 90vw;
    margin: 0 auto;
  }
  .name-card {
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }

  footer {
    margin-top: 1rem;
  }
}
